{% extends "base.html" %}

{% block topheader %}

<div id="header">{{ nickname }}
<div style="float: right;">
  <a href="settings">Settings</a> | 
  <a href="{{ logout_url }}" id="logout">Logout</a></div>
  <hr/>
</div>

<div id="pagetitle" style="color: white">
  {% block title %}
  {% endblock %}
</div>
{% endblock %}



{% block content %}
<div id="pagecontent" style="margin: 5px; color: #799dda; padding: 12px; border-style: solid;
  height: 84%">
  {% block pagecontent %}
  {% endblock %}
</div>

{% endblock %}

