{% extends "basewlogin.html" %}


{% block styles %}
<link rel="stylesheet" href="css/jquery.jgrowl.css">
<style type='text/css'>
#dropbox {padding:20px;  border: solid 1px green; }
#dropbox.drag { border: solid 1px red; }
#preview { margin-top:10px; }
#preview>div { border: solid 2px; margin:20px; padding:10px;}
#preview pre { margin:20px 0; border: solid 2px #d88; }
#preview pre.done { border-color: #8d8; }
</style>
{% endblock %}

{% block title %}
Main
{% endblock %}

{% block pagecontent %}
<hr/>
Upload <a href="upload">files</a>.
</hr>

{% endblock %}

{% block code %}
<script src="javascript/main.js"></script>
{% endblock %}
